<a href="https://colab.research.google.com/github/Azubigreatsam/Azubigreatsam/blob/main/Copy_of_Copy_of_MYNOTEBOOK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world.!')

hello world.!

In [ ]:
print('Hello World')

Hello World

In [ ]:
print('I love Azubi Africa')

I love Azubi Africa

In [ ]:
  fav ='I love Azubi Africa'

  print(fav)

I love Azubi Africa

In [ ]:
first_name = 'Azubi'

last_name = 'Africa'

print('My name is Azubi Africa')

My name is Azubi Africa

#string concatenation

adding two(2) strings

In [ ]:
first_name = 'Azubi'

last_name = 'Africa'

print('My name is ' + first_name + ' ' + last_name)

My name is Azubi Africa

f-strings

In [ ]:
first_name = 'Rachael'

last_name = 'Appiah'

print(f'My name is {first_name} {last_name}')

My name is Rachael Appiah

Numbers

In [ ]:
2+2

4

In [ ]:
name = 'Azubi Africa'

age = 5

print (f'Hello World! My name is {name}. I am {age} years old')

Hello World! My name is Azubi Africa. I am 5 years old

#Final Project

In [ ]:
name = input('Hey you, please enter your name:')

age = input('Hey you,now please enter your age:')

print(f'Hey {name}, your age is {age}')

Hey you, please enter your name:Samuel Adjarnor
Hey you,now please enter your age:35
Hey Samuel Adjarnor, your age is 35

Python Keywords

Input & output (I/O)

print(variable) # show the variable's value

variable = input(indicative_message) # ask user to type something and save it

In [ ]:
print ('Hello world!')

Hello world!

In [ ]:
full_name = 'Samuel Adjarnor'

In [ ]:
print('Hello', full_name,'...!')

Hello Samuel Adjarnor ...!

In [ ]:
#help(print)

In [ ]:
print(f'Hello {full_name}')

Hello Samuel Adjarnor

In [ ]:
print('Hello {}'.format(full_name))

Hello Samuel Adjarnor

In [ ]:
origin, actual_country = 'Ghana', 'America'
print('I am from {}, and I live in {}'.format(origin, actual_country))

I am from Ghana, and I live in America

In [ ]:
typed_value = input('Please type your height (in cm):')
print(f'Your height is: {typed_value} cm')

Please type your height (in cm):190
Your height is: 190 cm

In [ ]:
typed_full_name = input('Please type your full name\n')
print(f'Welcome {typed_full_name}!')

Please type your full name
Samuel Adjarnor
Welcome Samuel Adjarnor!

Conditional Statements:if,elif,else

Cimena Ticket Price

In [ ]:
age_str = input('Please enter your age\n>>') # Get age in str format
age= int(age_str) # Convert age to an int value

#COMPUTE PRICE
# if age belongs to [0,16]
if (age>=0) and (age<16):
    price = 10 # price = price + 10

# if age belongs to [16,65[
elif(age>=16) and (age<65):
    price = 15 # price = price + 15

# if age is superior or equal to 65
elif (age>=65) :
    price = 25 # price = price + 25
#else means age is inferior to 0
else:
    price = 0

#PRINT PRICE
if price ==0:
    print(f'Sorry. Something went wrong with the value you typed')
else:
  print (f'The price for your ticket is: {price}')

Please enter your age
>>90
The price for your ticket is: 25

Loop Statements

for loop

we use it when we want to iterate over a sequence or to repeat actions a specific number of time.

while loop

we use it when we want to repeat actions until a condition change.

In [2]:
a = 5+1
for i in range(0, a):
    print(i)

0
1
2
3
4
5

for loop

In [4]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
full_names =['Emmanuel KOUPOH', 'Marvin Lomo', 'Richard Kadey']

for fullname in full_names:
    print(f'I am {fullname}, and I like Python programming.\n')

I am Emmanuel KOUPOH, and I like Python programming.

I am Marvin Lomo, and I like Python programming.

I am Richard Kadey, and I like Python programming.

while Loop

we use it when we want to repeat until a condition change (From True to False)



while condition:

     statement(s)

In [9]:
count = 0
while (count < 5):
    count = count + 1
    print('We like Python')
print('End of my while loop')

We like Python
We like Python
We like Python
We like Python
We like Python
End of my while loop

Nested Loops

The Python programming language allows programmers to use one loop statement inside another loop statement.

In [ ]:
# for loop statement
for variable in sequence:
    for variable in sequence:
      statement(s)
      statement(s)

# while loop statement
while condition:
    while condition:
        statement(s)
        statement(s)

In [11]:
for i in range(1, 7):
    for j in range (i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

Function

In programming, functions are used to embed some statements that allow to do a specific task, at any time just by calling the dedicated function in a few lines.

''''python
# No argument function
  def function_name():
    'Docstring'
    pass
''''

In [ ]:

'python'
# No argument function
  def function_name():
    'Docstring'
    pass

# function with arguments
  def function_name(arg, arg_2):
    'Docstring'
    pass

# function with arguments and default values
  def function_name(arg, arg_2, arg_3='Default Value'):
    'Docstring'
    pass

# Bad function with arguments and default values
  def function_name(arg, arg_2, arg_3='Default Value', arg_4):
    'Docstring'
    pass

# function with arguments and default values
  def function_name(arg, arg_2, arg_4, arg_3='Default Value' ):
    'Docstring'
    pass




    '''

In [ ]:
# Define the function
def cinema_ticket_pricing(age):
  'This function will compute the price of the ticket based on the age parameter'

#COMPUTE PRICE
# if age belongs to [0,16]
if (age>=0) and (age<16):
    price = 10 # price = price + 10

# if age belongs to [16,65[
elif(age>=16) and (age<65):
    price = 15 # price = price + 15

# if age is superior or equal to 65
elif (age>=65) :
    price = 25 # price = price + 25
#else means age is inferior to 0
else:
    price = 0

#PRINT PRICE
if price ==0:
    print(f'Sorry. Something went wrong with the value you typed')
else:
  print (f'The price for your ticket is: {price}')

return price,

In [14]:
# Let the user type the age
age_str = input('Please enter your age\n>>') # Get age in str format
age = int(age_str) # Convert age to an int value

Please enter your age
>>-1

In [ ]:
# call the function
  price = cinema_ticket_pricing(age=age)
  print(price)

In [17]:

# Bad function with arguments and default values
  def function_name(arg, arg_2, arg_3='Default Value', arg_4):
    'Docstring'
    pass

IndentationError: ignored

In [25]:

#   function with arguments and default values
  def function_name(arg, arg_2, arg_4, arg_3='Default Value', ):
       'Docstring'
     pass

IndentationError: ignored